{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


<div class="container text-with-bg contacts">
<h2>Contact</h2>

<h3>PO Box 40046</h3>
<h3>Glenfield</h3>
<h3>Auckland 0747</h3>
<br/>
<h3><a href="mailto:mail@evolutionlawyers.nz">mail@evolutionlawyers.nz</a></h3>
<h3><a href="tel:0800352993">0800 352 993</a></h3>
<h3><a href="tel:0800352993">0800 ELAWYERS</a></h3>
<h3><a>Fax: 09 929 3332</a></h3>

                    <br/>
                    <a class="contact-link" href="tel:+64277150587">M: +64 27 715 0587</a><br/>
<h5>For individual staff contact details, go to <a href="/team.html">The Team</a>.  <br/>For conveyancing enquiries please contact Kieran Boyle on <a href="tel:+6494413596">09 441 3596</a> or <a href="mailto:kieran@evolutionlawyers.nz">kieran@evolutionlawyers.nz</a></h5>

<img src="/images/favicons/favicon-96x96.png" />
</div>
{% endblock %}