{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


<h2>Conveyancing Fee Estimates</h2>
<div class="container fees">
<div class="fee-description">
We offer fee estimates for a range of residential conveyancing and
related services.  Due to unforeseen matters that can arise in the course of a conveyancing matter, we offer an estimate rather than a fixed fee.  But we always do our best to stick to the estimate. </div>

<div class="fee-conditions">
<p>Our fees estimates are exclusive of GST and disbursements. For convenience, we have provided an estimated invoice total that you might expect to pay at the conclusion of your matter. The estimated invoice total takes into account the typical disbursements we would incur on your behalf, such as title searches ($5 each) and registration charges ($80 each), office disbursement fee ($50), and GST.  However, the estimated invoice total excludes mileage.</p>
</div>

<div class="fee-block">
<h4>Refinance of residential property</h4>
<p>Our fee estimate - $680 ($780 if property held in trust)</p>
<p>Estimated invoice total - $1,005 ($1,120 if property held in trust)</p>
</div>


<div class="fee-block">
<h4>Increasing mortgage priority amount</h4>
<p>Our fee estimate - $480</p>
<p>Estimated invoice total - $695</p>
</div>

<div class="fee-block">
<h4>Sale of residential property</h4>
<p>Our fee estimate - $780</p>
<p>Estimated invoice total - $1,040</p>
</div>

<div class="fee-block">
<h4>Purchase of residential property</h4>
<p>Our fee estimate - $880</p>
<p>Estimated invoice total - $1,235</p>
</div>

<div class="fee-block">
<h4>Purchase of property ‘off the plans’</h4>
<p>Our fee estimate - $1,500</p>
<p>Estimated invoice total - $1,948</p>
</div>

<br/>
<div class="fee-conditions">
<p>We do not charge first home buyers extra for the attendances unique to their matters, such as making a KiwiSaver Withdrawal or HomeStart Grant
application.</p>
</div>


<div class="fee-block">
<h4>Refinance and transfer of property e.g. to a look-through company</h4>
<p>Our fee estimate - $1,000</p>
<p>Estimated invoice total - $1,453</p>
</div>

<div class="fee-block">
<h4>Pre-auction document review (if not successful at auction)</h4>
<p>Our fee estimate - $250</p>
<p>Estimated invoice total - $345</p>
</div>

<div class="fee-block">
<h4>Establishing a basic family trust</h4>
<p>Our fee estimate - $500</p>
<p>Estimated invoice total - $633</p>
</div>

<div class="fee-block">
<h4>Preparing a basic will</h4>
<p>Our fee estimate - $250</p>
<p>Estimated invoice total - $345</p>
</div>


<div class="fee-description">

Our estimates are based on the time usually required for the typical
attendances involved in a matter of the various types set out above.
In 86% of cases, based on our review in October 2016, we do not exceed the estimate.  Not all matters are born equal, however, so occasionally more time is required.
</div>

    <div class="text-row">
    <h4>For more information, check out our Conveyancing Guides:</h4>
        <h4><a href="/buying.html">Buying</a></h4>
        <h4><a href="/selling.html">Selling</a></h4>
        <h4><a href="/refinancing.html">Refinancing</a></h4>
</div>
</div>

<div class="container-fluid text-with-vlight-bg house-wrapper"><img class="houses" src="/images/houses-50q.jpg"></div>

{% endblock %}