{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<div class="container-fluid sea">

        <p>A law firm for all modern New Zealanders</p>

</div>


<div class="container-fluid text-with-bg ">

    <div class="container text-row" >
        <h2>About Us</h2>
        <p>Evolution Lawyers is an Auckland-based law firm specialising in insolvency, commercial, company, and property law.  We provide both litigation and transactional services to New Zealanders and  small-to-medium sized New Zealand businesses.</p>
    </div>
</div>
<div class="container-fluid text-with-light-bg ">
<div class="container">
<div class="row">
    <h2>Why we're different</h2>
    <div class="col-md-6 text-row" >
        <i class="fa fa-car"></i>
        <h3>Mobile</h3>
        <p>We are a mobile firm with no central office.  If you are in Auckland, we can meet at a location and time conveniant to you.  If not, we can arrange something else.</p>
    </div>

    <div class="col-md-6 text-row" >
        <i class="fa fa-dollar"></i>
        <h3>Fair Fees</h3>
        <p>We strive to be efficient and ensure that our fees are fair, reasonable and competitive.  We are happy to provide estimates and whenever possible, agree a set fee.</p>
    </div>

    <div class="col-md-6 text-row" >
        <i class="fa fa-cloud"></i>
        <h3>Cloud</h3>
        <p>We are 100% cloud based.  We can work from any location, at any time.</p>
    </div>

    <div class="col-md-6 text-row" >
        <i class="fa fa-lock"></i>
        <h3>Secure</h3>
        <p>We use NetDocuments, the leader in cloud-based document management and reccomended by the American Bar Association.</p>
    </div>

    <!--<div class="col-md-6 text-row" >
        <i class="fa fa-cloud"></i>
        <h3>Catalex</h3>
        <p>CataLex, a legal software company founded by the firm’s directors, has designed software specifically to benefit Evolution Lawyers and its clients.</p>
    </div> -->

        <div class="col-md-6 text-row" >
        <i class="fa fa-envira"></i>
        <h3>Paperless</h3>
        <p>Environmentally freindly and efficient, our paperless offices save costs and the planet!</p>
    </div>

    <div class="col-md-6 text-row" >
        <i class="fa fa-cc-visa"></i>
        <h3>Credit Card</h3>
        <p>You can pay our invoices or deposit money into our trust account by credit or debit card.  We take Visa & Mastercard.</p>
    </div>

    </div>
    </div>
</div>





<div class="container-fluid fb">
<div class="fb-container">
<div class="fb-page" data-href="https://www.facebook.com/evolutionlawyers" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/evolutionlawyers"><a href="https://www.facebook.com/evolutionlawyers">Evolution Lawyers</a></blockquote></div></div>
</div>
</div>
{% endblock %}
