{% extends 'layouts/application.html' %} {% block content %}
        <h2>SELLING A RESIDENTIAL PROPERTY</h2>
<div class="container-fluid text-with-bg guide">
    <div class="container text-row">
        <h3>Some things you might want to know</h3>
    </div>
</div>
<div class="container-fluid text-with-vlight-bg ">
    <div class="container button-container">
        <a class="link-button" href="/Guide to Selling a Residential Property.pdf">Download PDF</a>
    </div>
    <div class="container ">
        <div class="guide">
            <div class="section">
                <h4>Conveyancing</h4>
                <p>Selling a residential property falls within the category of transactions lawyers term “<a class="external-link" href="https://browser.catalex.nz/open_definition/24121-DLM364970/">conveyancing</a>”. This short guide sets out some things you might want to know about what is involved in a property purchase conveyance.
                </p>
            </div>
            <div class="section">
                <h4>The Sale and Purchase Agreement</h4>
                <p>Every property sale involves entering into a sale and purchase agreement with the purchaser. The same <a class="external-link" href="http://s3-ap-southeast-2.amazonaws.com/adls-media/7487526/4002-Sale-Purchase-of-Real-Estate-Ninth-Edition-2012-3-Highlighted.pdf">form</a> of agreement, which was developed by the Auckland District Law Society and Real Estate Agents Institute of New Zealand, is used in virtually all property sales.</p>
                <p>The agreement can be drafted to either include conditions or not. Conditions are generally included for the benefit of the purchaser. All conditions included in the agreement, for example finance, must be satisfied before the purchaser is under an obligation to complete the purchase. Conditions have deadlines, which if not met can lead to the agreement being cancelled. </p>
                <p>Generally, a deposit is payable by the purchaser once the agreement is declared unconditional. The deposit is usually held in the real estate agent’s trust account until just before settlement, at which time it is released to us with the agent’s commission deducted.</p>
            </div>
            <div class="section">
                <h4>Mortgage</h4>
                <p>If there is a mortgage over the property you are selling, this needs to be discharged before the property title can be transferred to the purchaser. That requires repaying any amounts you owe the mortgagee (usually a bank) that are secured by the mortgage. Usually, this will mean all amounts you owe the bank.
                </p>
                <p>We will contact the mortgagee on your behalf to request that the mortgage be discharged. The bank will then provide us with a statement setting out the amount it requires to be paid in order to have the mortgage discharged. We will check the bank’s repayment figure with you before any payment is made to ensure it is what you are expecting.
                </p>
                <p>The mortgage discharge payment is then made from the settlement funds received from the purchaser.
                </p>
            </div>
            <div class="section">
                <h4>Rates and Water Charges</h4>
                <p>Because rates instalments do not usually match up with the settlement date, an apportionment is made relating to the rates you have already paid to ensure that you both and the purchaser account for your fair share of the annual rates amount. We will contact the local council to confirm what rates have been paid. The amount paid by the purchaser on settlement includes the rates apportionment, and will be higher or lower than the purchase price depending on the rates payments you have made.
                </p>
                <p>For Auckland properties that have a water meter, we will arrange a final meter reading as at the settlement date. From this reading, Watercare will generate a final invoice for your water account at the property. We will then forward this on to you to arrange payment.
                </p>
            </div>
            <div class="section">
                <h4>Unit Titles</h4>
                <p>If your property is a unit title, the body corporate levies you have paid will be apportioned in the same way as the council rates. We will contact the body corporate administrator to confirm what levies have been paid.</p>
                <p>When selling a unit title, you are required to provide the purchaser with <a class="external-link" href="http://www.reaa.govt.nz/ForLicensees/Documents/Licensee Information Sheets/Info Sheet - Unit Titles Act 2010 Licensee - 022016.pdf">pre-contract and pre-settlement disclosure statements</a>. The pre-settlement disclosure must be provided at least five working days before settlement, and if it is not then the purchaser can cancel the agreement. We will obtain the statement from the body corporate administrator and provide it to the purchaser on your behalf.</p>
            </div>
            <div class="section">
                <h4>Trust Account</h4>
                <p>We will use our trust account to receive and pay funds on your behalf. This will include receiving the deposit payment from the real estate agent and settlement payment from the purchaser’s solicitor, and paying your bank the mortgage discharge amount.
                </p>
                <p>If we hold a surplus in our <a class="external-link" href="https://www.lawsociety.org.nz/for-lawyers/regulatory-requirements/trust-account-management">trust account</a> following the payment of the discharge amount, we will use that to pay our fee. Any proceeds remaining after payment of our invoice will be paid as you direct.
                </p>
            </div>
            <div class="section">
                <h4>Landonline and Authority &amp; Instruction Form</h4>
                <p>The transfer of the property title from you to the purchaser is effected electronically using <a class="external-link" href="http://www.linz.govt.nz/land/landonline">Landonline</a>. To complete the transaction through Landonline, we need to have your written and signed authority to do so. That authority is provided via a form known as an <a class="external-link" href="http://www.linz.govt.nz/land/land-registration/prepare-and-submit-your-dealing/authority-instruction-ai">Authority &amp; Instruction Form</a>, which is an important document. It needs to be signed by you, witnessed, and backed up by a verified copy of your photo identification.
                </p>
            </div>
            <div class="section">
                <h4>Tax Details</h4>
                <p>Anybody who sells a property must complete and sign and <a class="external-link" href="http://www.linz.govt.nz/land/land-registration/prepare-and-submit-your-dealing/property-tax-compliance-requirements">land transfer tax statement</a>. The property title cannot be transferred without it. If the property you are selling will not be your main home, you must provide your IRD number. An IRD number is always required where the property is held in a trust.
                </p>
            </div>
            <div class="section">
                <h4>Signing Documents</h4>
                <p>If you are in Auckland, we can meet at a location convenient to you to sign up the documents required to complete the purchase. This will include the Authority & Instruction Form and land transfer tax statement. We will make other arrangements if you live outside Auckland.</p>
            </div>
            <div class="section">
                <h4>Settlement Day</h4>
                <p>The sale will be completed on settlement day, which will be agreed in the sale and purchase agreement. We will do everything we can to complete settlement as early as possible, however, settlements are often delayed by things that are out of your and our hands. If we think there is a risk settlement may not go ahead as planned, we will let you know straight away.</p>
            </div>
            <p class="disclaimer">
                <strong>Disclaimer:</strong>  This guide is not, and must not be relied upon as, legal advice.  The guide is a simple summary prepared by Evolution Lawyers for the general benefit of its clients.  Your use or reliance upon this guide for any purpose is entirely at your own risk.
            </p>
        </div>
    </div>
</div>
    {% endblock %}
