{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


<div class="container-fluid text-with-bg ">

    <div class="container text-row" >
        <h2>Services</h2>
        <h3>Conveyancing</h3>
            <p>We provide both commercial and residential conveyancing services.  Our residential conveyancing services are very competitively priced, with fees starting from $880 for a purchase, $780 for sale, and $680 for a refinance (each excluding GST and disbursements).  We stick to those estimates most of the time.  Please contact <a href="/team#kieran">Kieran Boyle</a> (<a href="mailto:kieran@evolutionlawyers.nz">kieran@evolutionlawyers.nz</a>), our conveyancing specialist, to find out more.</p>
    </div>

        <div class="container text-row" >
        <h3>Company and Commercial</h3>
            <p>Our team can assist with the formation and operation of your  small-to-medium sized company.  Whether it be preparing a shareholders’ agreement, attending to corporate governance matters, assisting with  transactions involving shares or assets, preparing terms of trade, or assisting with borrowing, lending, or security arrangements, we can provide advice and documentation to protect your company and help it grow.</p>
    </div>

        <div class="container text-row" >
        <h3>Insolvency</h3>
            <p>Evolution Lawyers are specialists in most areas of insolvency law, including summary judgment for debts, mortgagee sales, bankruptcy, liquidation, and receivership.  We adopt a practical and efficient approach to insolvency problems designed to ensure the best possible outcome for our clients, sometimes in the worst possible situations.  If you are owed money that you want back, or are in a tight spot with creditors and want to know your options, take the next step and give us a call.  </p>
    </div>

    <div class="container text-row" >
        <h3>Commercial Litigation</h3>
            <p>If you have tried everything else but your business is still in dispute with someone, litigation might be the only option left.  Unfortunately, it is usually also the most expensive.  Our firm’s focus on efficiency, competitive hourly rates, and pragmatic solutions means the cost of commercial litigation can be kept to a minimum.  We specialise in the areas of property, company, commercial, and insolvency law. If you are interested in pursuing or defending litigation in those areas, contact us to talk through your options. </p>
    </div>
    <div class="container " >
    <img class="bird" src="images/bird-50q.jpg"/>
    </div>
</div>
{% endblock %}