{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}
{% extends 'layouts/application.html' %}
{% block content %}
    <div class="container team">
            <h2>The Team</h2>
        <div class="row">
            <div class="col-md-6 person">
                <div class="text-center"><img src="/images/portraits/tamina.jpg" /></div>
                <h4>Tamina Cunningham-Adams</h4>
                <h5>LLB (Hons), BA, B Ed (Tchg)</h5>
                <h4>Director</h4>
                <a class="contact-link" href="tel:+6494413151">T: +64 9 441 3151</a><br/>
                <a class="contact-link" href="tel:+64211515137">M: +64 21 151 5137</a><br/>
                <a class="contact-link" href="mailto:tamina@evolutionlawyers.nz">E: tamina@evolutionlawyers.nz</a>
                <div class="contact">
                    <a href="https://nz.linkedin.com/pub/tamina-cunningham-adams/30/195/a64" target="_blank"><i class="fa fa-linkedin-square"></i>Tamina @ LinkedIn</a><br/>
                </div>
            </div>
            <div class="col-md-6 person">
                <div class="text-center"><img src="/images/portraits/thomas.jpg" /></div>
                <h4>Thomas Bloy</h4>
                <h5>LLB</h5>
                <h4>Director</h4>
                <a class="contact-link" href="tel:+64211515137">T: +64 9 441 3426</a><br/>
                <a class="contact-link" href="tel:+6494413426">M: +64 27 453 8552</a><br/>
                <a class="contact-link" href="mailto:thomas@evolutionlawyers.nz">E: thomas@evolutionlawyers.nz</a>
                <div class="contact">
                    <a href="https://nz.linkedin.com/in/thomasbloy" target="_blank"><i class="fa fa-linkedin-square"></i>Thomas @ LinkedIn</a><br/>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6 person">
                    <div class="text-center"><img src="/images/portraits/sophie.jpg" /></div>
                    <h4>Sophie Gagnon</h4>
                    <h4>Practice Manager</h4>
                    <a class="contact-link" href="tel:++6494413425">T: +64 9 441 3425</a><br/>
                    <a class="contact-link" href="tel:+642102439766">M: +64 21 024 39766</a><br/>
                    <a class="contact-link" href="mailto:sophie@evolutionlawyers.nz">E: sophie@evolutionlawyers.nz</a>
                <div class="contact">
                    <a href="https://nz.linkedin.com/in/sophie-gagnon-405b1299" target="_blank"><i class="fa fa-linkedin-square"></i>Sophie @ LinkedIn</a><br/>
                </div>

                </div>
                <div class="col-md-6 person" id="kieran">
                    <div class="text-center"><img src="/images/portraits/kieran.jpg" /></div>
                    <h4>Kieran Boyle</h4>
                    <h5>LLB</h5>
                    <h4>Solicitor</h4>
                    <a class="contact-link" href="tel:+6494413596">T: +64 9 441 3596</a><br/>
                    <a class="contact-link" href="tel:+64277150587">M: +64 27 715 0587</a><br/>
                    <a class="contact-link" href="mailto:kieran@evolutionlawyers.nz">E: kieran@evolutionlawyers.nz</a>

                <div class="contact">
                    <a href="https://nz.linkedin.com/in/kieran-boyle-29564399" target="_blank"><i class="fa fa-linkedin-square"></i>Kieran @ LinkedIn</a><br/>
                </div>
                </div>
            </div>
        </div>

{% endblock %}