{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="container team">
        <div class="row">
        <div class="col-md-6 person">
            <div class="text-center"><img src="/images/portraits/tamina.jpg" /></div>
            <div>
                <h4>Tamina Cunningham-Adams</h4>
                <h5>LLB (Hons), BA, B Ed (Tchg)</h5>
                <h4>Director</h4>
                <a class="contact-link" href="tel:+64211515137">M: +64 21 151 5137</a><br/>
                <a class="contact-link" href="mailto:tamina@evolutionlawyers.nz">tamina@evolutionlawyers.nz</a>
                <p>
                    Tamina is the firm’s managing director.  She excels at helping clients overcome challenges affecting their business, particularly when it comes to disputes and insolvency matters.  She focuses on understanding her clients’ businesses and developing long-term relationships, so as to provide truly valuable legal counsel.  At the same time as being director of Evolution and CataLex, Tamina is a practising liquidator of complex corporate assignments and CEO of insolvency firm, Fisher White & Associates.  She is also a published author, guest lecturer in commercial law at the University of Auckland, and a qualified teacher.
                </p>
                <div class="contact">
                    <a href="https://nz.linkedin.com/pub/tamina-cunningham-adams/30/195/a64" target="_blank"><i class="fa fa-linkedin-square"></i>Tamina @ LinkedIn</a><br/>
                    <a href="skype:taminacunningham?userinfo"><i class="fa fa-skype"></i>Tamina @ Skype</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 person">
            <div>
                <div class="text-center"><img src="/images/portraits/thomas.jpg" /></div>
                <h4>Thomas Bloy</h4>
                <h5>LLB</h5>
                <h4>Director</h4>
                <a class="contact-link" href="tel:+64211515137">T: +64 9 441 3426</a><br/>
                <a class="contact-link" href="tel:+6494413426">M: +64 27 453 8552</a><br/>
                <a class="contact-link" href="mailto:thomas@evolutionlawyers.nz">thomas@evolutionlawyers.nz</a>
                <p>
                    Thomas is a problem-solver.  He enjoys dealing with complex legal matters over a wide range of subject areas - large or small, litigation or transactional.  He is also the creative force behind Evolution Lawyers and CataLex, and managing director of the latter.  At Evolution, he is in charge of systems administration, quality assurance, process improvement, and operational efficiency.  He also develops and maintains the firm’s knowledge assets.  Thomas is a published author, with one of his articles being favourably cited in Canadian case law.  Before becoming a lawyer, he was an operations’ analyst for a large insurance company and, before that, a musician.
                </p>
                <div class="contact">
                    <a href="https://nz.linkedin.com/in/thomasbloy" target="_blank"><i class="fa fa-linkedin-square"></i>Thomas @ LinkedIn</a><br/>
                    <a href="skype:thomas.bloy?userinfo"><i class="fa fa-skype"></i>Thomas @ Skype</a>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 person">
                <div>
                <div class="text-center"><img src="/images/portraits/sophie.jpg" /></div>
                    <h4>Sophie Gagnon</h4>
                    <h4>Practice Manager</h4>
                <a class="contact-link" href="tel:++6494413425">T: +64 9 441 3425</a><br/>
                    <a class="contact-link" href="tel:+642102439766">M: +64 21 024 39766</a><br/>
                    <a class="contact-link" href="mailto:sophie@evolutionlawyers.nz">sophie@evolutionlawyers.nz</a>
                </div>
        </div>

        <div class="col-md-6 person">
                <div>
                <div class="text-center"><img src="/images/portraits/kieran.jpg" /></div>
                    <h4>Kieran Boyle</h4>
                    <h5>LLB</h5>
                    <h4>Solicitor</h4>
                    <a class="contact-link" href="tel:+6494413596">T: +64 9 441 3596</a><br/>
                    <a class="contact-link" href="tel:+64277150587">M: +64 27 715 0587</a><br/>
                    <a class="contact-link" href="mailto:kieran@evolutionlawyers.nz">kieran@evolutionlawyers.nz</a>
                </div>
        </div>

    </div>
    </div>

{% endblock %}
